/* five-coloring */

$cells-per-row: 25;

.row {
    display: flex;
}
.row > div {
    display: inline-block;
    width: 1/$cells-per-row * 100%;
    padding-bottom: 1/$cells-per-row * 100%;
}
.row > .a {
    background-color: #BBBBBB;
}
.row > .b {
    background-color: white;
}
.row > .c {
    background-color: #222222;
}
.row > .d {
    background-color: #BADA55;
}
.row > .e {
    background-color: #AE43F5;
}

.container {
    width: Min(90vw, 90vh);
}

/* Necklace */

#necklace .bead {
    border-radius: 50%;
    border: 1px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
}

#necklace .bead[data-color="A"] {
    background-color: var(--color1);
}

#necklace .bead[data-color="B"] {
    background-color: var(--color2);
}

#necklace .chain {
    display: flex;
}

#necklace .edge {
    margin: 1em 0;
    width: 1em;
    border: 1px solid black;
}
#necklace .edge:first-child, #necklace .edge:last-child {
    border-style: dashed;
}
