/* this is to allow scrolling when the bottom is obscured*/
/* by a browser element. */
#footer {
    width: 100%;
    height: 50vh;
}

/* five-coloring */

$cells-per-row: 25;

.row {
    display: flex;
}
.row > div {
    display: inline-block;
    width: 1/$cells-per-row * 100%;
    padding-bottom: 1/$cells-per-row * 100%;
}
.row > .a {
    background-color: #BBBBBB;
}
.row > .b {
    background-color: white;
}
.row > .c {
    background-color: #222222;
}
.row > .d {
    background-color: #BADA55;
}
.row > .e {
    background-color: #AE43F5;
}

.container {
    width: Min(90vw, 90vh);
}

/* Necklace */

#necklace {
    max-width: 35em;
    margin: 0 auto;
    box-sizing: border-box;
}

#necklace section {
    animation: 0.3s ease-out fly-in;
}

@keyframes fly-in {
    from {transform: translateY(100vh)}
    to {}
}

#necklace .bead {
    border-radius: 50%;
    border: 1px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
}

#necklace *[data-color="A"] {
    background-color: var(--color1);
}

#necklace *[data-color="B"] {
    background-color: var(--color2);
}

#necklace .highlight {
    box-shadow: 0 0 1em red;
}

#necklace .colorbutton {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

#necklace .chain {
    display: flex;
    padding: 0.5em 0.5em;
}
#necklace .chain.vertical {
    flex-direction: column;
    width: min-content;
}

#necklace .edge {
    margin: 1em 0;
    width: 1em;
    border: 1px solid black;
}
#necklace .vertical .edge {
    margin: 0 1em;
    width: 0em;
    height: 1em;
    border: 1px solid black;
}

#necklace .edge:first-child, #necklace .edge:last-child {
    border-style: dashed;
}

#necklace .tilt {
    transform: rotate(7deg);
    width: min-content;
}

#necklace .rotate {
    transform: rotate(180deg);
    animation: 3s rotate;
    animation-timing-function: cubic-bezier(0.8, 0.1, 0.5, 0.0);
    animation-fill-mode: both;
    width: min-content;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

#necklace .choose-color {
    margin-left: 1em;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
}

.svg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#necklace .ambiguous1 {
    width: 0px;
    transition: transform 3s;
}

.ambiguous2, .ambiguous2b, .ambiguous1 {
    transform: translateY(3em);
}
.ambiguous2, .ambiguous2b {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 3s, 5s;
}
#show-ambiguous:checked ~ .ambiguous2 {
    transform: translateX(4em) rotate(180deg);
    opacity: 1;
}

#show-ambiguous:checked ~ .ambiguous2b {
    transform: translateX(-2em) rotate(-180deg);
    opacity: 1;
}
#show-ambiguous:checked ~ .ambiguous1 {
    transform: none;
}

#show-ambiguous {
    display: none;
}

.toggle {
    border: 2px solid black;
}

.skip {
    display: block;
}
